h1 {
    margin: 10px;
    font-weight: lighter;
}


.about {
    text-align: center;
    font-size: 140%;
}

.projectCard {
    margin: 2%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px, 5px, black;
    border-radius: 15px;
}

.projectCard:hover {
    box-shadow: 4px 4px 1px rgb(63, 60, 60);
    font-weight: bold;
}
.proj {
    font-size: 130%;
    text-align: center;
    padding-top: 9%;
    font-weight: lighter;
}

.footerContainer {
    position:absolute;
    bottom: 2%;
    width: 100%;
    border-style:groove;
}

.footerEl {
    display: inline;
    margin: 2%;
}

.contactCard {
    margin: 5%;
}

label {
    padding: 0%;
}

form {
    padding: 4%;
}

.resumeTag {
    margin: 2%;
}

.profies {
    margin: 2%;
}

h2 {
    margin: 2%;
}

.linked:hover{
    color: rgb(167, 222, 222);
}

h2.linked{
    cursor: pointer;
}

li {
    font-size: 140%;
}

.nav-item{
    font-weight: lighter;
}

p.proj{
    cursor: pointer;
}

div.projectCard{
    cursor: pointer;
}
